html,
body {
    margin: 0;
    background: #fff;
	font-family: 'Thasadith', sans-serif;
}

html {
  scroll-behavior: smooth;
}
body a {
    text-decoration: none;
    transition: 0.5s all;
	font-family: 'Thasadith', sans-serif;
	color: inherit;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
}

li {
    list-style-type: none;
}

.navbar { 
	margin:0;
	padding: 0;
	position: static;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #7ffba8; */
}

.navContainer{
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navContainer img{
	width: 120px;
	height: 60px;
}

.navList{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 40px;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

.footer{
	width: 100%;
	height: 100px;
	background-color: #c3d9c6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footerContainer{
	font-size: 24px;
	font-weight: bold;
}

.banner-top {
    background: url(../images/farm_background.jpg) no-repeat center;
    background-size: cover;
}

a.move-top {
    width: 34px;
    height: 34px;
    background: url(../images/move-top.png) no-repeat;
    display: inline-block;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 0;
}
