{% extends 'layout.html' %} {% block body %}

<div class="crops">
  <div class="cropForm">
    <h2>Find out the most suitable crop to grow in your farm</h2>
    <form method="POST" action="{{ url_for('crop_prediction') }}">
      <div class="formInp">
        <label for="Nitrogen"><b>Nitrogen</b></label>
        <input
          type="number"
          id="Nitrogen"
          name="nitrogen"
          placeholder="Enter the value (example:50)"
          required
        />
      </div>
      <div class="formInp">
        <label for="Phosphorous"><b>Phosphorous</b></label>
        <input
          type="number"
          id="Phosphorous"
          name="phosphorous"
          placeholder="Enter the value (example:50)"
          required
        />
      </div>

      <div class="formInp">
        <label for="Pottasium"><b>Pottasium</b></label>
        <input
          type="number"
          id="Pottasium"
          name="pottasium"
          placeholder="Enter the value (example:50)"
          required
        />
      </div>
      <div class="formInp">
        <label for="ph"><b>ph level</b></label>
        <input
          type="number"
          step="0.01"
          id="ph"
          name="ph"
          placeholder="Enter the value"
          required
        />
      </div>
      <div class="formInp">
        <label for="Rainfall"><b>Rainfall (in mm)</b></label>
        <input
          type="number"
          step="0.01"
          id="Rainfall"
          name="rainfall"
          placeholder="Enter the value"
          required
        />
      </div>
      <div class="formInp">
        <label for="State"><b>State</b></label>
        <select
          onchange="print_city('state', this.selectedIndex);"
          id="sts"
          name="stt"
          required
        ></select>
        <br />
        <label for="City"><b>City</b></label>
        <select id="state" name="city" required></select>
        <script language="javascript">
          print_state("sts");
        </script>
      </div>

      <div class="submitBtn">
        <button type="submit">Predict</button>
      </div>
    </form>
  </div>
</div>

<!-- Form section -->

{% endblock %}
