{% extends 'layout.html' %} {% block body %}

<div class="crops">
  <div class="fertForm">
    <h2>Get informed advice on fertilizer based on soil</h2>

    <form method="POST" action="{{ url_for('fert_recommend') }}">
      <div class="formInp">
        <label for="Nitrogen"><b>Nitrogen</b></label>
        <input
          type="number"
          id="Nitrogen"
          name="nitrogen"
          placeholder="Enter the value (example:50)"
          required
        />
      </div>
      <div class="formInp">
        <label for="Phosphorous"><b>Phosphorous</b></label>
        <input
          type="number"
          id="Phosphorous"
          name="phosphorous"
          placeholder="Enter the value (example:50)"
          required
        />
      </div>

      <div class="formInp">
        <label for="Pottasium"><b>Pottasium</b></label>
        <input
          type="number"
          id="Pottasium"
          name="pottasium"
          placeholder="Enter the value (example:50)"
          required
        />
      </div>

      <div class="fertFormInp">
        <label for="crop"><b>Crop you want to grow</b></label>
        <select name="cropname" id="crop" placeholder="Select a crop" required>
          <option selected>Select crop</option>
          <option>rice</option>
          <option>maize</option>
          <option>chickpea</option>
          <option>kidneybeans</option>
          <option>pigeonpeas</option>
          <option>mothbeans</option>
          <option>mungbean</option>
          <option>blackgram</option>
          <option>lentil</option>
          <option>pomegranate</option>
          <option>banana</option>
          <option>mango</option>
          <option>grapes</option>
          <option>watermelon</option>
          <option>muskmelon</option>
          <option>apple</option>
          <option>orange</option>
          <option>papaya</option>
          <option>coconut</option>
          <option>cotton</option>
          <option>jute</option>
          <option>coffee</option>
        </select>
      </div>

      <div class="submitBtn">
        <button type="submit">Predict</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
